<a href="https://colab.research.google.com/github/lw1230578/sth/blob/master/weatherlondon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from google.colab import files

In [9]:
uploaded = files.upload()

Saving Temperature_london.csv to Temperature_london.csv

In [11]:
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

User uploaded file "Temperature_london.csv" with length 358 bytes

In [12]:
uploaded

{'Temperature_london.csv': b'date,Temperature daily mean,Temperature daily max,Temperature daily min\r\n2019;02;15,7.02,13.13,2.01\r\n2019;02;16,8.86,12.17,5.99\r\n2019;02;17,9.53,13.25,6.13\r\n2019;02;18,9.13,10.86,5.94\r\n2019;02;19,6.68,10.09,4.59\r\n2019;02;20,8.23,10.97,6.74\r\n2019;02;21,9.09,14.5,6.02\r\n2019;02;22,8.86,15.42,4.24\r\n2019;02;23,10.64,15.98,7.38\r\n2019;02;24,8.68,13.83,4.17\r\n,,,\r\n'}

In [0]:
import io

In [0]:
df = pd.read_csv(io.StringIO(uploaded['Temperature_london.csv'].decode('utf-8')))

In [21]:
df.head(10)

,date,Temperature daily mean,Temperature daily max,Temperature daily min
0,2019;02;15,7.02,13.13,2.01
1,2019;02;16,8.86,12.17,5.99
2,2019;02;17,9.53,13.25,6.13
3,2019;02;18,9.13,10.86,5.94
4,2019;02;19,6.68,10.09,4.59
5,2019;02;20,8.23,10.97,6.74
6,2019;02;21,9.09,14.50,6.02
7,2019;02;22,8.86,15.42,4.24
8,2019;02;23,10.64,15.98,7.38
9,2019;02;24,8.68,13.83,4.17

In [0]:
target_names = ['Temperature daily mean','Temperature daily max','Temperature daily min']

In [0]:
shift_days = 1
shift_steps = shift_days*24

In [0]:
df_targets = df[target_names].shift(-shift_steps)

In [29]:
df[target_names].head(shift_steps+5)

    Temperature daily mean  Temperature daily max  Temperature daily min
0                     7.02                  13.13                   2.01
1                     8.86                  12.17                   5.99
2                     9.53                  13.25                   6.13
3                     9.13                  10.86                   5.94
4                     6.68                  10.09                   4.59
5                     8.23                  10.97                   6.74
6                     9.09                  14.50                   6.02
7                     8.86                  15.42                   4.24
8                    10.64                  15.98                   7.38
9                     8.68                  13.83                   4.17
10                     NaN                    NaN                    NaN